<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Meus formulários</title>
    <style type="text/css">
        form input {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <h1>Meu formulário</h1>
    <form action="/processar" method="POST">
        <fieldset>
            <legend>Formulário de Cadastro</legend>
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required> <br>
            <input type="password" id="senha" name="senha" placeholder="Digite uma senha" required> <br>
            <input type="password" id="confirmacaosenha" name="confimacaosenha" placeholder="Confirme a senha" required>
            <br>
            <input type="email" name="email" id="email" placeholder="E-mail" required>
        </fieldset>
        <input type="submit" value="SubmeterDados" onclick="validarSenhas();">
    </form>
    <script src="./static/validacao.js"></script>
</body>
</html>