<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>

<body>
    {% include "header.html" %}

    <h1>Atualize</h1>
    <form action="/gameupdate" name="formulario" action="#" method="POST" onsubmit="mensagem()">
        <input type="number" name="id" placeholder="id">
        <br> <br>
        <input type="text" name="title" placeholder="Nome">
        <br> <br>
        <input type="text" name="platform" placeholder="Plataforma">
        <br> <br>
        <input type="date" name="releaseDate" placeholder="Data de Lançamento">
        <br> <br>
        <input type="number" name="score" placeholder="Nota">
        <br> <br>
        <input type="text" name="summary" placeholder="Resumo">
        <br> <br>
        <input type="number" name="price" placeholder="Preço">
        <br> <br>
        <input type="submit" value="Atualizar">
    </form>

</body>

<script>
    function mensagem() {
        var titulo = document.forms['formulario']['title'].value;
        var plataforma = document.forms['formulario']['platform'].value;
        var datadelancamento = document.forms['formulario']['releaseDate'].value;
        var pontuacao = document.forms['formulario']['score'].value;
        var preco = document.forms['formulario']['price'].value;
        
        if (titulo == "" || titulo == undefined) {
            alert("Campo nome inválido!");
        } else if(plataforma == "" || plataforma == undefined){
            alert("Campo plataforma inválido!");
        } else if(datadelancamento == "" || datadelancamento == undefined){
            alert("Campo data de lançamento inválido!");
        } else if(pontuacao == "" || pontuacao == undefined || pontuacao < 0){
            alert("Campo pontuação inválido!");
        } else if(preco == "" || preco == undefined || preco < 0){
            alert("Campo preço inválido!");
        } else{
            alert("Jogo atualizado com sucesso!");
        }
    }   
</script>
</html>