<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>

<body>
    {% include "header.html" %}

    <h1>Cadastre um Game</h1>
    <form action="/add" name="formulario" action="#" method="post" onsubmit="mensagem()">
        <input type="text" name="title" id="title" placeholder="Nome">
        <br> <br>
        <input type="text" name="platform" id="platform" placeholder="Plataforma">
        <br> <br>
        <input type="date" name="releaseDate" id="releaseDate" placeholder="Data de Lançamento">
        <br> <br>
        <input type="number" name="score" id="score" placeholder="Nota">
        <br> <br>
        <input type="text" name="summary" id="summary" placeholder="Resumo">
        <br> <br>
        <input type="number" name="price" id="price" placeholder="Preço">
        <br> <br>
        <button type="submit" name="enviar" id="botao">Save</button>
    </form>
</body>


<script>
    function mensagem() {
        var titulo = document.forms['formulario']['title'].value;
        if (titulo == "" || titulo == undefined) {
            alert("Campo nome inválido!");
            return false;
        } else{
            alert("jogo cadastrado");
            return true;
        }
    }
</script>

</html>