<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>

<body>
    <iframe id="preview" src="/header"></iframe>

    <h1>Cadastre um Game</h1>
    <form action="/add" method="post">
        <input type="text" name="title" id="title" placeholder="Nome">
        <br> <br>
        <input type="text" name="platform" id="platform" placeholder="Plataforma">
        <br> <br>
        <input type="date" name="releaseDate" id="releaseDate" placeholder="Data de Lançamento">
        <br> <br>
        <input type="number" name="score" id="score" placeholder="Nota">
        <br> <br>
        <input type="text" name="summary" id="summary" placeholder="Resumo">
        <br> <br>
        <input type="number" name="price" id="price" placeholder="Preço">
        <br> <br>
        <button type="submit" id="botao">Save</button>
    </form>
</body>

</html>