<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Read</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>

<body>
    {% include "header.html" %}

    <h1>Busque um Game</h1>
    <form action="/show" method="POST">
        <fieldset id="dados">
            <legend>Busca</legend>
            <p>
                <label for="id">ID:</label>
                <input type="number" name="id" id="id">
            </p>
        </fieldset>
        <button type="submit">Search</button>
    </form>
</body>

</html>