<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>

<header>
    <div id=menu role="navigation">
        <h1>INFO GAMES WEB</h1>
        <hr>

        <ul>
            <li><a href="/home">Home</a>
            <li><a href="/create">Cadastre um Game</a>
            <li><a href="/read">Buscar um Game</a>
            <li><a href="/update">Atualize um Game</a>
            <li><a href="/delete">Delete um Game</a>
        </ul>
    </div>
</header>

</html>