<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-item *ngFor="let pessoa of dados">
        <ion-icon color="sucess" name="person-sharp"></ion-icon>
        <ion-label [routerLink]="['/detalhes', pessoa.id]">{{pessoa.nome}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="sucess" (click)="exibir()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>