<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
        Boa noite, {{pessoa ? pessoa.nome + " " + pessoa.sobrenome : home}}
    </ion-title>
    <ion-progress-bar color="primary" value="0.2"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

   <h3>{{texto}}</h3>

   <ion-text style="color: {{cor}}">
    <h2>Texto colorido</h2>
  </ion-text>

  <ion-item>
    <ion-label position="floating">digite aqui seu cpf</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <strong>
    <p>
      aqui se escreve aqui se mostra!!! {{currentvalue}}
    </p>
  </strong>

  <ion-toggle [(ngModel)]="switch">
    <p>
      Valor da chave: {{switch ? 'Ligado' : 'Desligado'}}
    </p>
  </ion-toggle>

  <ion-item>
    <ion-label>Jon Snow</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Daenerys Targaryen</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Arya Stark</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Tyrion Lannister</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Cão de caça</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>

  <p>Método de escolha: {{ paymentMethod }}</p>
  <ion-radio-group [{ngModel}]="paymentMethod">

    <ion-item>
      <ion-label>
        Dinheiro
      </ion-label>
      <ion-radio slot="start" value="din din"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>
        Crédito
      </ion-label>
      <ion-radio slot="start" value="credita para min"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>
        Débito
      </ion-label>
      <ion-radio slot="start" value="debita para min"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>
        sai correndo sem pagar!
      </ion-label>
      <ion-radio slot="start" value="vazei"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-item>
    <ion-label>
      Qual será o método de pagamento?
    </ion-label>
    <ion-select placeholder="Escolha">
      <ion-select-option value="cash">Dinheiro</ion-select-option>
      <ion-select-option value="debit">Débito</ion-select-option>
      <ion-select-option value="credit">Crédito</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button (click)="aumentar()">Aumentar</ion-button>
  
  <ion-button (click)="diminuir()">Diminuir</ion-button>

  <ion-button (click)="resetar()">Resetar</ion-button>

  <h2>O valor do Contador é : {{valorNumerico}}</h2>

  </div>
</ion-content>