<ion-header>
  <ion-toolbar>
    <ion-title>Atualize um Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="id" placeholder="Id"></ion-input>
  <ion-button (click)="buscarPorId(id)">Buscar</ion-button>
  <ion-input [(ngModel)]="name" placeholder="Nome"></ion-input>
  <ion-input [(ngModel)]="rating" placeholder="Nota"></ion-input>
  <ion-button color="success" (click)="atualizar(id)">Atualizar</ion-button>
  <ion-button fill="clear" routerLink="/home">
    Voltar
  </ion-button>
</ion-content>